* {
    margin: 0;
}

#info {
    position: fixed;
    color: #fff;
    background: #666;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    left: 50%;
    translate: -50% 0;
    z-index: 999;

    top: -100px;
    opacity: 0;
}

#info:not(:empty) {
    animation: fade 5s;
}

@keyframes fade {
      0% { top: -100px; opacity: 0; }
     10% { top:  100px; opacity: 1; }
     90% { top:  100px; opacity: 1; }
    100% { top: -100px; opacity: 0; }
}

.teddy img {
    margin-left: 30px;
    margin-right: 30px;
    height: 50px;
    padding: 25px;
}

.teddy {
    background: rgb(178, 71, 255);
}

.row_bar {
    height: 95px;
    background: rgb(255, 255, 255);
    display: flex;
}

.row_bar h1 {
    color: rgb(86, 34, 123);
    padding: 25px;
    margin-left: auto;
}

.row_bar h1 a {
    text-decoration: none;
}

.row_bar h2 {
    color: rgb(86, 34, 123);
    padding: 35px;
}

.layout table {
    border-collapse: separate;
    border-spacing: 100px;
}

.layout th {
    color: aqua;
    background: rgb(178, 71, 255);
    padding: 50px;
    width: 50vw;
    height: 45vh;
}

.layout h1 a {
    text-decoration: none;
    list-style-type: none;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/* admin table */
.ad_table {
    border-collapse: collapse;
    width: 70%; /* Set the desired width */
    margin: 0 auto; /* Center the table */
    background-color: rgb(165, 160, 167);
    cursor: default; /* Set cursor to arrow */
    text-align: center;
    font-size: 20px;
}

.ad_table th, .table td {
    border: 1px solid #333;
    padding: 5px;
}

.ad_table th {
    color: #fff;
    background: #666;
}

.ad_table tr:hover td {
    font-weight: bold;
    background: #d1d1cf;
}

.ad_table td:has(.popup) {
    position: relative;
}

.ad_table .popup {
    position: absolute;
    top: 50%;
    left: 100%;
    translate: 5px -50%;
    z-index: 1;
    border: 1px solid #333;
    display: none;
}

.ad_table tr:hover .popup {
    display: block;
}

.detail th {
    text-align: left;
}

/* Button */

button:hover{
    background-color: rgb(248, 240, 229);
}


/* Sorting */
.ad_table th a {
    color: inherit;
    display: block;
}

.ad_table th a.asc::after {
    content: ' ▴';
}

.ad_table th a.desc::after {
    content: ' ▾';
}

/* EDIT */

nav {
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-left: 12%;
}

nav h1 {
    color: rgb(255, 255, 255);
}

nav a{
    color: rgb(158, 192, 224);
    text-decoration: underline;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

.product-card {
    width: 180px;
    background: #b7b1f2;
    border-radius: 16px;
    padding: 35px;
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.2);
    background-color:#9e05f7;
    font-style: italic;
    color:#c5e8ff;
}

.product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    
}

/* Details */

.form {
    display: grid;
    grid: auto / auto auto auto auto;
    gap: 5px;
    place-content: start;
    font-size: large;
    margin-top: 10px;
}

.form > label:not(:has(*)) {
    place-self: stretch;
    background: #ccc;
    font-weight: bold;
    padding: 10px;
}

.form > section {
    grid-column: 1 ;
}

.err {
    color: red;
}

.profile {
    margin-left: 120px;
}

.profile img#preview {
    width: 200px;
    height: 200px;
}

label.upload img {
    display: block;
    border: 1px solid #333;
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    margin-left: 160px;
}

/* user order */

div.order table {
    margin-left: 120px;
    background-color: rgb(99, 99, 99);
    border: 2px solid black;
}

tr.head th {
    background-color: #444;
}



.order td, .order th{
    padding: 10px;
    color: rgb(252, 252, 252);
    text-align: center;
    border: 2px solid black;
}

/* Pager */

nav.pager {
    padding: 10px;
    background: white;
    margin-left: 20%;
    width: 60%;
}

nav.pager a {
    outline: 1px solid #333;
    padding: 10px;
    text-decoration: none;
}

nav.pager a.active {
    background: #ffffff;
}