.zero_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -999;
}

.zero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.zero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.background img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    display: block;
    z-index: -3;
}

.product img {
    width: 200px;
    height: 200px;
    position: static;
}
