* {
    margin: 0;
}

.menu {
    position: relative;
    height: 100px;
    background: rgb(51,0,102);
}

.menu_row {
    display: flex;
    padding: 28px;
    position: relative;
    gap: 50px;
}

.menu li{
    list-style-type: none;

}

.menu_row h1{
    font-size: xx-large;
    color: aliceblue;
}

.menu_row img{
    position: relative;
    margin-right:0px;  
    height: 50px;
    margin-top: -5px;
    background: transparent;
}

body{
    background-color: rgb(204, 153, 255);
}

.shopping_cart {
    margin-left: 70px;
}

.shopping_cart hr {
    width: 96%;
    height: 3px;
    background-color: rgb(51,0,102);
}

h1.product_cart {
    text-align: center;
}

.product_cart h1 {
    margin-top: 15px;

}

.shopping_cart table {
    margin-left: -100px;
}

.shopping_cart th, .shopping_cart td {
    width: 10%;
    font-size: x-large;
    display: center;
}

.shopping_cart td {
    width: 10%;
    padding: 30px;
    text-align: center;
}

#product_image{
    width: 200px;
    height: 200px;
}

td.quantity select {
    font-size: 25px;
}

button {
    font-size: x-large;
}

table tr.total th {
    margin-left:70%;
}