* {
    margin: 0;
}

.menu {
    position: relative;
    height: 100px;
    background: rgb(51,0,102);
}

.menu_row {
    display: flex;
    padding: 28px;
    position: relative;
    gap: 50px;
}

.menu li{
    list-style-type: none;

}

.menu_row h1{
    font-size: xx-large;
    color: aliceblue;
}

.menu_row img{
    position: relative;
    margin-right:0px;  
    height: 50px;
    margin-top: -5px;
    background: transparent;
}

body{
    background-color: rgb(204, 153, 255);
}

h1.product_history {
    text-align: center;
}

.order_history {
    margin-left: 50px;
}

body hr {
    width: 96%;
    height: 3px;
    background-color: rgb(51,0,102);
    margin-left: 2%;
}

table {
    margin-left: -2%;
}

.order_history h1 {
    margin-top: 15px;

}

.order_history th {
    width: 10%;
    font-size: xx-large;
    display: center;
    text-decoration: underline;
}

.order_history td {
    width: 10%;
    font-size: x-large;
    display: center;
}

.order_history td {
    width: 10%;
    padding: 30px;
    text-align: center;
}