* {
    margin: 0;
}

/* View Page */
.singleproduct {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.viewproduct {
    background: white;
    padding: 50px;
    border-radius: 10px;
    max-width: 800px;
    width: 90%;
    position: relative;
}

.product-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.viewproduct-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: justify;
    font-size: 17px;
    gap: 30px;
}

.image-holder img {
    width: 300px;
    height: auto;
}

.product-info {
    flex: 1;
}

.price {
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    color: rgb(51, 0, 102);
}

/* Buttons */
.btn {
    right: 40px;
    padding: 8px 10px;
    font-size: 11px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
    transition: 0.3s;
}

.cart-btn {
    background-color: rgb(51, 0, 102);
    color: white;
}
.cart-btn:hover {
    background-color: #b2a5ff;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}
.close-btn:hover {
    color: red;
}