nav.search {
    margin-left: 60% !important;
}

div.category {
    margin-left: 21%;
    padding: 30px;;
    background: #b7b1f2;    
    width: 55.5%
}

div.category a {
    padding: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

div.category a:hover {
    color: black;
    text-decoration: underline;
}

body {
    margin: 0;
    background: url('/image/your-background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

.product-card {
    width: 180px; /* fixed card width */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #b7b1f2;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.2);
    background-color:#9e05f7;
    font-style: italic;
    color:#c5e8ff;
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover; /* crop without distortion */
    margin-bottom: 15px;
    border-radius: 8px;
    
}

.product-card h2, .product-card h3, .product-card p {
    margin: 5px 0;
}


.tablecontainer {
    position: relative;
    z-index: -1;
    
}

.product-cell {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
}

.products img {
    max-width: 100%;
    height: auto;
}

.product-card th:hover ~ th {
    transform: scale(0.9);
}

.products th h3{
    padding: 30px;
    position: center;
}

/* Pager */

nav.pager {
    padding: 10px;
    background: white;
    margin-left: 20%;
    width: 60%;
}

nav.pager a {
    outline: 1px solid #333;
    padding: 10px;
    text-decoration: none;
}

nav.pager a.active {
    background: #ffffff;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.category-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    background: linear-gradient(135deg, #b2a5ff, #ff8fc7);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.category-card span {
    text-align: center;
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}
